* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  min-height: 60px;
  padding: 0 100px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.content-space-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.list-items:not(:last-child) {
  margin-right: 32px;
}

.grey {
  color: grey;
}

.bold {
  font-weight: bold;
}

.hamburger {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 5px;
  border: 1px solid grey;
}

.hamburger-bars {
  border: 1px solid grey;
  width: 20px;
}

.hamburger-bars:not(:last-child) {
  margin-bottom: 8px;
}

/* testing class */
.border {
  border: 1px solid black;
}
/* testing class ends */

.active {
  font-weight: bold;
  color: black;
}

.container {
  padding: 0 100px;
}

.w-40 {
  width: 40%;
}

.text-right {
  text-align: right;
}

.hero {
  min-height: 35vh;
}

.grid {
  display: grid;
}

.grid-column-3 {
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 40vh;
}

.bg-1,
.bg-2,
.bg-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-1 {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/18/17/20/living-room-1835923_960_720.jpg");
}

.bg-2 {
  background-image: url("https://cdn.pixabay.com/photo/2017/07/09/03/19/home-2486092_960_720.jpg");
}

.bg-3 {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/26/15/06/home-1622401_960_720.jpg");
}

.mr-2 {
  margin-right: 20px;
}
